RC2/RC2/bin/
RC2/RC2/obj/
RC2/packages/
RedisClientManager/.vs/
RedisClientManager/src/RedisClientManager/obj/
RedisClientManager/src/RedisClientManager/bin/
RedisClientManager/src/RedisClientManager/project.lock.json
